@import "~normalize.css";
@import "roboto.css";
@import "bootstrap.min.css";

body{
  font-family: 'Roboto', sans-serif;
  padding-top: 120px;
}

#loader{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wrap-users-table{
  min-height: 319px;
  position: relative;
}

.table-users th:first-child, .table-users td:first-child{
  width: 50%;
}

.table-users th:nth-child(2), .table-users td:nth-child(2){
  width: 30%;
}

.table-users th:nth-child(3), .table-users td:nth-child(3){
  width: 20%;
}
